@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100&display=swap");

.custom-col {
  line-height: 3rem;
  min-height: 3rem;
  height: 3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.flex {
  align-items: center;
  justify-content: center;
}

.daily-diff {
  font-weight: 500;
}

.custom-input {
  width: 25% !important;
  margin: auto;
}

@media screen and (max-width: 560px) {
  .custom-col {
    font-size: 0.8rem;
  }

  /*  5th element of header cell which is daily rank section  */
  .custom-col th:nth-child(5) {
    font-size: 0.6rem;
  }

  .custom-input {
    width: 75% !important;
    margin: auto;
  }
}
