@import url("http://fonts.cdnfonts.com/css/games");

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Table {
  width: 70%;
  margin: auto;
}

.Main-header {
  font-size: 3rem;
  font-family: "Games", sans-serif;
}

@media screen and (max-width: 912px) {
  .Table {
    width: 100%;
  }
}
